.sheet-container{
    width: 80%;
    font-family: 'Clash Display', sans-serif;
   
}
.sheet-container > h1{
    display: flex;
   justify-content: center;
   align-items: center;
   
    
}

.sheet-container > h1 > #menu-bar{
    display: none;
}
#datatable-container-user{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
    
}
.progress-mini-container{
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    
}
.sheet-container > h1{
    width: 100%;
    padding: 10px 0px;
    background-color:#010115;
    color: white;
    border-radius: 10px;
    font-family: 'Clash Display', sans-serif;
    letter-spacing: 1px;
    text-align: start;
    font-size: 2.8rem;
    font-weight: 500;
    margin: auto;
    font-family: 'Clash Display', sans-serif;
    
}
/* custom-styles.css */
#datatable-container-user .p-datatable {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#datatable-container-user .p-datatable-header {
    background-color:#010115;
    color: rgb(0, 0, 0);

}

#datatable-container-user .p-datatable-thead > tr > th {
    padding: 25px 20px ;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}

#datatable-container-user .p-datatable-tbody > tr > td {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15.5px 20px; 
}

#datatable-container-user .p-datatable-footer {
    
    color: rgb(0, 0, 0);
}

#datatable-container-user .p-paginator {
    /* background-color: rgb(98, 97, 97) !important; */
    color: rgb(0, 0, 0);
   
    padding: 10px 0px;
}


@media only screen and (max-width: 700px){
    .sheet-container{
        width: 100%;
        padding: 0px 0px;
        
    }
    .sheet-container > h1 {
        justify-content: space-around;
    }
    .sheet-container > h1 > #menu-bar{
        display: flex;
    }
}