.container{
    width:100%;
    /* background-color: rgb(47, 47, 47); */
    /* color: wheat; */
    padding: 50px 0px;

}
.items{
    width: 100%;
    /* padding:20px 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}
.card{
    width: 280px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 0px;
   border: 1px solid grey;
   border-radius: 9px;
   overflow: hidden;
   align-items: center;
   padding: 10px 20px;
   text-align: start;
}
.card h1{
    font-weight: 500;
    font-size: 1.5rem;
}
.card img{
    width: 100px;
    height: 100px;
    mix-blend-mode: multiply;
}
.card  button{
    background-color: blue;
    border: none;
    outline: none;
    padding: 5px 10px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}