.nav-link {
  text-decoration: none;
  color: white; /* White Text */
  display: flex;
  align-items: center;
  border-radius: 12px;
  width: 100%; /* Full width */
  height: 63px; /* Height adjustment */
  justify-content: flex-start;
  padding-left: 10px;
  border: 2px solid red !important;

}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.244);
  border-radius: 12px;
  transition: .3s ease-in all;
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
  display: flex;
  align-items: center;
  border: 2px solid red !important;
}

.active-nav-link {
  text-decoration: none;
  color: blue;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  transition: .3s ease-in all;
  border: 2px solid red !important;

  
}

.active-nav-link .MuiTypography-root {
  color: blue !important;
  border: 2px solid red !important;

  
}

.nav-link .CIcon {
  margin-right: 10px; /* Adjust icon margin */
  border: 2px solid red !important;

}

.img-thumbnail-container {
  text-align: center;
  margin:10px auto;
}

.navItem {
  height: 63px; /* Height for each tab */
  border: 2px solid red !important;
  

}




.custom-sidebar::-webkit-scrollbar {
  display: none !important; /* For Chrome, Safari, and Opera */
  
}

.custom-sidebar {
  -ms-overflow-style: none !important; /* For Internet Explorer and Edge */
  scrollbar-width: none !important; /* For Firefox */
}

