.sheet-container{
    /* width: 100%; */
    
}
.mini-container-attendance{
    background-color: white;
     
    padding: 40px 20px;
    border-radius: 10px;
}


.date-filters{
    display: flex;
    gap: 3rem;
    /* border: 2px solid red; */
}
.date-filters > label{
    color:#2495C6 ;
    font-weight: 500;
}
.date-filters > label > input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(26, 26, 116);
    /* border: 1px solid rgb(26, 26, 116); */
    padding: 5px 10px;
    /* border-radius: 3px; */
}
.data-table{
    margin-top: 20px;
}
.table-head{
    color: rgb(23, 23, 139) !important;
    font-size: 1.2rem;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

@media only screen and (max-width: 700px){
    .sheet-container{
        width: 100%;
        /* padding: 0px 30px; */
        padding: 0px 7px;
   
        
    }
    .date-filters{
        flex-direction: column;
        
    }

}