.outlet-box {
    /* max-width: 400px; */
    margin: 0 auto;
    /* padding: 20px; */

.sign-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-row {
    margin-bottom: 20px;
}

.custom-input {
    position: relative;
    
}

.password-field {
    display: flex;
    align-items: center;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle img {
    width: 20px;
    height: 14px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.login-btn {
    text-align: center;
}

.login-btn button {
    width: 100%;
}
}