.loginFields{
    
}
.Login-Header{
    /* margin: 40px 0 0 56px; */
   /* background-color: red; */
}
.login-container{
    display: flex;
    gap: 01rem;
    /* border: 2px solid red; */
    flex-direction: column;
    /* background-color: pink; */
    padding: 2rem 4rem;
    
}

.forget-pass-btn{
    color: rgb(23, 10, 78);
    /* border: 2px solid red; */
    text-align: end;
    font-weight: 600;
    cursor: pointer;
}
.forget-pass-btn:hover{
    color: rgb(64, 64, 255);
}