.admin-container {
    width: 100%;
    font-family: 'Clash Display', sans-serif;
}

.state-buttons {
    display: flex;
    margin: auto;
    gap: 2rem;
    border-radius: 10px;
    background-color: #010115;
    color: white;
    padding: 10px 0px;
    width: 100%;
    padding-left: 40px;
    font-family: 'Clash Display', sans-serif;
}

.state-buttons > button {
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 4px 0px;
    border-radius: 8px;
    width: 80px;
}

.state-buttons > button > h1 {
    font-size: 12px;
}

.state-buttons > button.isactive {
    color: black;
    background-color: #25A9E0;
    transition: 0.6s ;
}

@media only screen and (max-width: 700px){
    .admin-container {
        /* border: 2px solid black; */
        width: 90%;
        margin: auto;
        margin-top: 25px;
    }
}