.sheet-container-admin {
  width: 100%;
  font-family: "Poppins", sans-serif;
  z-index: 100000;
  padding: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.data-table {
  margin-top: 20px;
}

.MuiTable-root {
  border-collapse: separate !important;
  border-spacing: 0px 15px !important;
 
}

.MuiTableContainer-root {
  background-color: transparent !important;
  color: white;
  box-shadow: 0px 0px 0px 0px !important;
}

.MuiTableCell-root {
  color: #FDFDFD;
  text-align: start;
  font-weight: 600;
  background-color: transparent !important;
  font-size: 20px !important;
  /* border: none !important; */
}

.MuiTableBody-root {
  background-color: transparent !important;
}

.MuiTableBody-root .MuiTableCell-root {
  text-align: center;
  padding: 10px;
  color: #010120;
  font-weight: 400;
  font-size: 14px;
  background-color: transparent !important;
 
}

.MuiTableRow-root {
  /* background: #ffffff;  */
  /* border-radius: 12px !important; */
  /* border: 2px solid #FFA100 !important; */
  /* margin-bottom: 10px !important; */
  /* color: rgb(180, 34, 34) !important; */
  /* font-size: 21px; */
}
.MuiTableBody-root .MuiTableCell-root :hover {
  color: white;
}

.MuiTableRow-root:not(:first-child):hover .MuiTableCell-root {
  color: white !important;
}



.MuiTableRow-root:hover {
  background: #157AFF;
  transition: ease-in .18s all;
  cursor: pointer;
}
/* 
.header-row .MuiTableCell-root-head:hover {
  background: #5A3D0A !important;
} */

/* .table-header {
  display: flex;
  justify-content: space-between !important;
  border: none;
} */

table tr td:first-child {
  border-top: 1px solid rgba(197, 197, 197, 0.6) !important;
  border-bottom: 1px solid rgba(197, 197, 197, 0.6) !important;
}

table tr td:last-child{
  border-top: 1px solid rgba(197, 197, 197, 0.6) !important;
  border-bottom: 1px solid rgba(197, 197, 197, 0.6) !important;
}
table tr td:nth-child(2),table tr td:nth-child(3) ,table tr td:nth-child(4), table tr td:nth-child(5), table tr td:nth-child(6){
  border-top: 1px solid rgba(197, 197, 197, 0.6) !important;
  border-bottom: 1px solid rgba(197, 197, 197, 0.6) !important;
}
table tr td:first-child {
  border-left: 1px solid rgba(197, 197, 197, 0.6) !important;
}

table tr td:last-child {
  border-right: 1px solid rgba(197, 197, 197, 0.6) !important;
}

table > tbody > tr {
  height: 75px;
}


@media (max-width: 1200px) {
  .MuiTableCell-root {
      font-size: 18px;
  }

  .MuiTableBody-root .MuiTableCell-root {
      font-size: 18px;
  }
}

@media (max-width: 992px) {
  .MuiTableCell-root {
      font-size: 16px;
      padding-left: 0px !important;
  }

  .MuiTableBody-root .MuiTableCell-root {
      font-size: 16px;
      padding-left: 20px !important;
  }
}

@media (max-width: 768px) {
  .MuiTableCell-root {
      font-size: 14px;
      padding-left: 15px !important;
  }

  .MuiTableBody-root .MuiTableCell-root {
      font-size: 14px;
      padding-left: 15px !important;
  }

  .MuiTableHead-root {
      font-size: 14px !important;
  }
}

@media (max-width: 576px) {
  .MuiTableCell-root {
      font-size: 12px !important;
      padding-left: 10px !important;
  }

  .MuiTableBody-root .MuiTableCell-root {
      font-size: 12px !important;
      padding-left: 10px !important;
  }

  .MuiTableHead-root {
      font-size: 12px !important;
  }

  .MuiTableRow-root {
      font-size: 12px !important;
  }

  .MuiTableRow-root:hover {
      background: #5A3D0A;
  }
}
