.profile-container{
    width: 100%;
    /* border: 3px solid red; */
}
.profile-heading{
    display: flex;
    margin: auto;
    border-radius: 10px;
    background-color: #010115;
    color: white;
    padding: 8px 0px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.profile-heading > h1{
    
}


.profile-information-container{
    /* border: 3px solid black; */
    width: 100%;
    display: flex;
    /* gap: 2rem; */
    flex-wrap: wrap;
    margin-top: 45px;
    justify-content: space-between;
    gap: 3rem;
    background-color: white;
    padding:15px;
    border-radius: 10px;
    
}
.profile-information-container > .input-box{
    display: flex;
    width: 48%;
    border: 2px solid rgba(112, 128, 144,0.5);
    background-color: white;
    padding: 15px 15px;
    outline: none;
    border-radius: 10px;
    
}
.profile-information-container > .input-box > label{
    display: flex;
    color: black;
    font-size: 1.1rem;
    letter-spacing: 1px;
    
}
#changePassword{
    color: rgb(219, 11, 11);
    font-weight: 600;
    cursor: pointer;
}
#changePassword :hover{
    color: red;
}
@media only screen and (max-width: 700px){
    .profile-heading{
        justify-content: space-between;
    }
}