.profile-container{
    width: 100%;
   
 
}
.profile-heading{
    display: flex;
    margin: auto;
    background-color: #010115;
    color: white;
    padding: 10px 0px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
  
}
.profile-heading > h1{
    text-align: center;
    /* border: 2px solid red;    */
    margin: auto;
}


.profile-information-container{
    /* border: 3px solid black; */
    width: 100%;
    display: flex;
    /* gap: 2rem; */
    flex-wrap: wrap;
    margin-top: 45px;
    justify-content: space-between;
    gap: 2rem;
    /* background-color: white; */
    /* padding:15px; */
    /* border-radius: 10px; */
    
}
.padding{
    padding: 0 50px;
}
.profile-information-container > .input-box{
    display: flex;
   width: 48%;
    /* border: 2px solid rgba(112, 128, 144,0.5); */
    background-color: rgb(255, 255, 255);
    padding: 15px 15px;
    outline: none;
    border-radius: 5px;
    border: rgb(112, 128, 144,0.6) solid 1px;
    
}
.profile-information-container > .input-box > label{
    display: flex;
    color: black;
    font-size: 1.1rem;
}
.profile-information-container > .input-box > label > span{
    margin:0 5px;
}
#changePassword{
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 788px){
    .profile-information-container > .input-box{
        display: flex;
       width: 100%;
    }
}
@media only screen and (max-width: 700px){
    .profile-heading{
        justify-content: space-between;
    }
}