.viewinfo-container{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    /* border: 2px solid black; */
}



.profile-information-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    background-color: white;
    border-radius: 10px;
    /* border: 2px solid black; */
    
}
.profile-information-container > .input{
    display: flex;
    width: 48%;
    background-color: rgb(255, 255, 255);
    /* border: 2px solid red; */
}

.input-box{
    border: 2px solid rgba(112, 128, 144,0.3);
    border-radius: 5px;
    width: 75%;
    height: fit-content;
    padding: 15px 15px;
}

.input-label{
    width: 25%;
    /* padding: 15px 15px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.pwd-btn{
    border: 2px solid rgba(112, 128, 144,0.3);
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out;
    
}

.pwd-btn:hover{
    background-color: #33aee2;
    color: white;
}

.ButtonsOMeth{
    display: flex;
    width: 100%;
    height: 3rem;
    margin-top: 20px;
    justify-content: flex-end;
    gap: 20px;
  
}

/* .profile-information-container > .input-box > label{
    display: flex;
    color: black;
    font-size: 1.1rem;
}
.profile-information-container > .input-box > label > span{
    margin:0 5px;
}
#changePassword{
    text-decoration: none;
    cursor: pointer;
} */
@media only screen and (max-width: 1200px){
    .profile-information-container > .input{
        display: flex;
       width: 100%;
    }
}
@media only screen and (max-width: 700px){
    .profile-heading{
        justify-content: space-between;
    }
}

@media only screen and (max-width: 650px){
    .viewinfo-container{
        padding: 50px 40px;
    }
    .profile-information-container > .input{
        gap: 1rem;
    }
}

@media only screen and (max-width: 550px){
    .profile-information-container > .input{
        justify-content: space-between;
        font-size: .8rem;

    }
    .input-box{
      width: 70%;
    }
}