* {
    margin: 0px;
    padding: 0px;
    font-family: "Urbanist", sans-serif;
}
.form-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.dark-background {
    height: 50%;
    position:fixed ;
    width: 100%;
    background-color: #010115;
    top: 0px;
    z-index: -1000;
}

.form {
    width: 68%;
    border-radius: 50px;
    background-color: white;
    color: black;
    display: flex;
    height: 500px;
    overflow: hidden;
    z-index: 1000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    color: black;
    overflow: hidden;
}

.form-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    gap: 1.7rem;
    
}

.form-right-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4FCFF;
    width: 50%;
    flex-direction: column;
}

.form-right-image>img {
    width: 340px;
}

.custom-input {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    font-weight: 400;

}

.custom-input>input {
    padding: 17px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #F0F3F6;
    letter-spacing: 1px;
    font-weight: 600;
}

.custom-input>label {
    color: #C2C2C2;
    font-size: 11px;
    letter-spacing: 1px;
}

.input-row>.custom-input>p {
    color: red;
    font-size: 1rem;
    font-family: "Urbanist", sans-serif;

}

.error-message {
    color: red;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
}

.sign-heading {
    color: black;
    font-size: 3rem;
    text-align: start;
    font-size: 2.8rem;
    font-weight: 700;
    width: 50%;
    /* border: 1px solid red; */
    margin-left:57px;
}

#password-label {
    display: flex;
    justify-content: space-between;
}

#password-label>span:nth-child(2) {
    color: black;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0px;
    cursor: pointer;
}

#password-label>span:nth-child(2):hover {
    color: red;
}

.login-btn>input {
    color: rgb(228, 219, 219);
    background-color: #010115;
    padding: 17px 10px;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;

}

.password-field {
    padding: 17px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #F0F3F6;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    position: relative;

}

.password-field>input {
    border: none;
    outline: none;
    background-color: transparent;
    letter-spacing: 1px;
    font-weight: 600;

}

.password-field>span>img {
    width: 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;


}
@media only screen and (max-width: 1200px) {
    .form-left {
        padding: 1rem 0rem;
        transition: .3s;
    }
}

@media only screen and (max-width: 1000px) {
    .form-right-image>img {
        width: 250px;
    }

}
@media only screen and (max-width: 800px){
    .form-right-image{
        display: none;
    }
    .form-left{
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
    .form{
        height: 450px;
        width: 90%;
        
    }
    .form-left {
        padding: 2rem 0rem;
        transition: .3s;
        gap: 0rem;
    }
}