:root {
    --main-bg-color: #3498db;
    --color1-navy: #010115;
}

.sheet-container-admin{
    width: 100%;
    /* border: 10px solid red; */
    font-family: "Poppins", sans-serif;
    z-index: 100000;
    
}
#datatable-container{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    
}
.sheet-container-admin > h1{
    width: 100%;
    padding: 10px 0px;
    background-color:#010115;
    color: white;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    z-index: 10000;
    
}
/* custom-styles.css */
#datatable-container .p-datatable {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#datatable-container .p-datatable-header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);

}

#datatable-container .p-datatable-thead > tr > th {
    padding: 25px 20px ;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}

#datatable-container .p-datatable-tbody > tr > td {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15.5px 20px; 
}

#datatable-container .p-datatable-footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#datatable-container .p-paginator {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
}
