:root {
    --main-bg-color: #3498db;
    --color1-navy: #010115;
}

.sheet-container-admin {
    width: 100%;
    /* border: 1px solid red; */
    font-family: "Poppins", sans-serif;
    z-index: 100000;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background-color: white;
    border-radius: 10px;


}

#datatable-container {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;

}

.sheet-container-admin>h1 {
    width: 100%;
    padding: 10px 0px;
    background-color: #010115;
    color: white;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    z-index: 10000;

}

/* custom-styles.css */
#datatable-container .p-datatable {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#datatable-container .p-datatable-header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);

}

#datatable-container .p-datatable-thead>tr>th {
    padding: 25px 20px;
    background-color: #ffffff;
    color: #034F75;
    font-size: 1.3rem;
    /* background-color:  !important; */
    font-weight: bolder !important;
}

#datatable-container .p-datatable-tbody>tr>td {
    background-color: #ffffff;
    color: #012E88;
    padding: 15.5px 20px;
    font-weight: 500;
    font-size: .9rem;
}

#datatable-container .p-datatable-footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#datatable-container .p-paginator {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
}

/* .attendanceButton{
    padding:5px 10px;
    background-color: #3498db;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
} */


.attendanceButton {
    border: none;
    outline: none;
    padding: 8px 0px;
    /* border: 1px solid red; */
    background-color: transparent;
    width: 110px;
    background-color: #010115;
    color: white;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease;


}

.attendanceButton:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(204, 219, 253, 1);
}