:root {
  --main-bg-color: rgba(204, 219, 253, 1);
  --main-card-color: #010115;
  --font-color: rgba(37, 169, 224, 1);
}

html {
  height: 100vh;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: rgba(204, 219, 253, 1) !important; */
  background-color: beige !important;
  color: black;
  
}

.menu-bar {
  display: none;
  font-size: 2rem;
  color: white;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/clash-display/ClashDisplayBold.otf') format('otf'),
    url('./assets/clash-display/ClashDisplayMedium.otf') format('otf'),
    url('./assets/clash-display/ClashDisplayRegular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.outlet-box {
  width: 100%;
  margin: 0px;
  transition: 1s ease;

}



.layout-container {
  display: flex;
  background-color: beige;
  height: 100%;
  
  /* Ensure the layout container takes full height */
}

#margin-gave {
  /* margin-left: -233px; */
}

.sidebar {
  height: 100%;
  /* Ensure the sidebar takes full height */
  /* transition: 4s ease-in ; */

}

.hide-sidebar {
  transform: translateX(-100px);
}

.sidebar-dark {
  /* Add any additional styles for dark theme if necessary */
}

/* css for login */
.Login-Header {
  margin: 40px 0 0 56px;
}

.toggleShowHide {
  /* Ensure the sidebar retains height when toggled */
  height: 100vh;

}

#foldable-sidebar {
  margin-left: 56px;
}

.border-bottom {
  /* Any additional styles for border bottom */
}

/* loader div styling */
.loaderContainer {
  display: fle;
  margin-top:50px;
  padding:30px 0px;
 
  justify-content:center;
  align-items:center;
  width: 100%;

}

@media only screen and (max-width: 700px) {
  .menu-bar {
    display: flex;
    font-size: 2rem;
    color: white;
  }
}