:root {
  --main-bg-color: rgba(204, 219, 253, 1);
  --main-card-color:  #010115;
  --font-color: rgba(37, 169, 224, 1);
}

html {
  height: 100vh;
  font-size: 14px;
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{

margin: 0px;
padding: 0px;
box-sizing: border-box;
background-color:rgba(204, 219, 253, 1) !important;

color: black;
}

.menu-bar{
  display: none;
  font-size: 2rem;
  color: white;
}
@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/clash-display/ClashDisplayBold.otf') format('otf'),
       url('./assets/clash-display/ClashDisplayMedium.otf') format('otf'),
       url('./assets/clash-display//ClashDisplayRegular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.outlet-box{
  width: 100%;
  margin-left: 56px;
}
.layout-container{
  display: flex;
  /* border: 2px solid red;  */
  background-color: beige;
  gap: 2rem;
  
  
  
}
.margin-gave{
  margin-left: 200px;
}
.sidebar{

}
/* css for login */
.Login-Header{
  margin: 40px 0 0 56px;
}


@media only screen and (max-width: 700px){
   .menu-bar{
      display: flex;
      font-size: 2rem;
      color: white;
  }

}