@import "@coreui/coreui/scss/coreui"; // CoreUI styles

:root {
  --cui-sidebar-width: 300px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar-header {
  .nav-link {
    display: flex;
    align-items: center;
    min-height: 4rem;
  }
}

.footer {
  min-height: 3rem;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background-color: var(--cui-dark-bg-subtle);
    }

    .footer {
      --cui-footer-bg: var(--cui-body-bg);
    }
  }
}

.simplebar-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
