.BaseLayout{
    height: 100% !important;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    padding:25px 30px;
    
}
.hi{
    width: fit-content;
}
.Outlet{
    /* margin:0 20px; */
    width: 100%;
    padding: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.loaderContainer{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}